body{
    background: rgb(7, 7, 7);
    font: normal 17pt Arial;
    display: block;


}
header{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.777);
}
section div{
    padding: 15px;
}
footer{
    color: white;
    text-align: center;
}